@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}





body {
  margin: 10px 10px;
}

.texto {
  line-height: 2.2em;
}

.linkHeader {
  display: flex;
  gap: 8px;
  text-decoration: underline ;
  text-decoration-color: midnightblue;
  text-decoration-thickness: 3px;
 
}

.sectionStyle {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  
}

.sectionStyle:hover {
  background-color: rgba(0, 0, 0, 0.178);
  transform: translate(-3px, -3px);
  transition: .2s;
}

.divInfos {
  line-height: 1.7em;
}

.projectSpan {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: solid black 1px;
  display: inline-block;
}

.iconProject {
  display: inline-block;

}

.ImagesProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  border: solid black 2px;
  margin: 10px;
}

.projTecsText {
  display: inline-block;
  margin: 10px;
}

.fraseOpa{
  opacity: 0;
}

.fraseOpa:hover {
  opacity: 100;
  transition: 0.4s;
}
